<header class="shadow-xl h-16 fixed bg-white -m-16 mx-auto w-full z-40">
    <div class="h-1 w-full bg-green-500"></div>
    <div class="flex items-center justify-between px-6 h-full">
        <%= link_to '/landing' do %>
            <%= image_tag("logo.svg", alt: 'StudyBuddy Logo') %>
        <% end %>
        <div class="flex flex-row items-center justify-right">
            <% if true %>
                <%= link_to '/help' do %>
                    <%= image_tag("help.svg", alt: 'Help', class: 'inline pr-6') %>
                <% end %>
                <%= link_to "Logout", '/logout', data: { "turbo-method": :delete }, class: 'btn btn-secondary-green' %>
            <% else %>
                <%= link_to "Login", '/login', class: 'btn btn-secondary-green' %>
            <% end %>
        </div>
    </div>
</header>